@import "tabulator-tables/src/scss/tabulator.scss";
@import "tom-select/dist/scss/tom-select";

/** DARK MODE **/
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --text-color: white;
        --highlight-color: orange;
        --box-color: #303030;
        --prio-1-color: blueviolet;
        --prio-2-color: red;
        --highlight-box-background: #808080;
        --highlight-box-color: black;
    }
}

/** LIGHT MODE **/
:root {
    --bg-color: white;
    --text-color: black;
    --highlight-color: orange;
    --box-color: lightgray;
    --prio-1-color: blueviolet;
    --prio-2-color: red;
    --highlight-box-background: #808080;
    --highlight-box-color: black;

    --vote-none-color: darkgray;
    --vote-pos-color: green;
    --vote-neg-color: red;

    --vote-pos-bg: #D0FFD0;
    --vote-neg-bg: #FFD0D0;
    --vote-maybe-bg: #FFFFA0;
}

/** OVERRIDES (COPY FROM ABOVE) **/
/** LIGHT MODE **/

[data-theme="dark"] {
    --bg-color: black;
    --text-color: white;
    --highlight-color: orange;
    --box-color: #303030;
    --prio-1-color: blueviolet;
    --prio-2-color: red;
    --highlight-box-background: #808080;
    --highlight-box-color: black;
}

[data-theme="light"] {
    --bg-color: white;
    --text-color: black;
    --highlight-color: orange;
    --box-color: lightgray;
    --prio-1-color: blueviolet;
    --prio-2-color: red;
    --highlight-box-background: #808080;
    --highlight-box-color: black;
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

li.issue {
    margin: 10px;

    .mainLine {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .title {
        }
        .author {
        }
        .extra {
            font-weight: normal;
        }
        .extra2 {
            font-weight: normal;
        }
        .extra3 {
            font-weight: normal;
        }
        .branch {
            font-weight: normal;
        }

        .age::before {
            content: "\01F4C9"; /* 📉 */
        }

        .age2::before {
            content: "\01F382"; /* 🎂 */
        }

        .age, .age2 {
            font-weight: normal;
            font-size: 0.8em;

            .hours::after {
                content: "	\01F550"; /* 🕐 */
                padding-left: 5px;
            }
            .days::after {
                content: "	\01F31E"; /* 🌞 */
                padding-left: 5px;
            }
            .months::after {
                content: "	\01F31C"; /* 🌜 */
                padding-left: 5px;
            }
            .years::after {
                content: "	\01F31A"; /* 🌚 */
                padding-left: 5px;
            }

            .months {
                color: var(--prio-1-color);
            }
            .years {
                color: var(--prio-2-color);
            }

        }
    }

    .gerrit_link {
    }

    .forge_link {
    }

    summary {
        background-color: var(--box-color);
        color: var(--text-color);
        border-radius: 20px;
        cursor: pointer;
        padding: 10px;
        font-weight: bold;
    }

    summary::marker {
        color: var(--highlight-color);
    }

    details[open] summary {
        border-radius: 20px 20px 0 0;
    }

    details {
        border-radius: 5px;
    }

    /* extra styles */
    article > *:first-child {
        margin: 0;
    }

    article > * + * {
        margin: 0.75em 0 0 0;
    }

    article {
        padding: 10px;
        margin: 0;
        background: var(--box-color);
        border-radius: 0 0px 20px 20px;
    }

    img.avatar {
        height: 50px;
        float: right;
        margin: 0 0 0 7px;
    }

    a,a:visited {
        color: var(--highlight-color);
        text-decoration: underline;
    }

    a:hover {
        text-decoration: none;
    }

    .danger {
        color: var(--highlight-color);
    }

    .highlight-box {
        border-radius: 8px;
        background-color: var(--highlight-box-background);
        color: var(--highlight-box-color);
        border: 1px solid var(--box-color);
        font-family: courier;
        font-size: 0.8em;
        padding: 10px;
    }
}

.votevatar {
    height: 30px;
    margin: 0 7px 0 0;
}

.core-member {
    border-radius: 12px;
}

.ci-member {
    border-radius: 2px;
    height: 15px;
}

.ci-member.no-codereview {
    border-bottom: 0px;
    border-right: 0px;
}

.no-verified {
    border-top: 2px solid var(--vote-none-color);
    border-left: 2px solid var(--vote-none-color);
}

.no-codereview {
    border-right: 2px solid var(--vote-none-color);
    border-bottom: 2px solid var(--vote-none-color);
}

.upvote1-verified {
    border-top: 2px solid var(--vote-pos-color);
    border-left: 2px solid var(--vote-pos-color);
}

.upvote2-verified {
    border-top: 4px solid var(--vote-pos-color);
    border-left: 4px solid var(--vote-pos-color);
}

.upvote1-codereview {
    border-right: 2px solid var(--vote-pos-color);
    border-bottom: 2px solid var(--vote-pos-color);
}

.upvote2-codereview {
    border-right: 4px solid var(--vote-pos-color);
    border-bottom: 4px solid var(--vote-pos-color);
}



.downvote1-verified {
    border-top: 2px solid var(--vote-neg-color);
    border-left: 2px solid var(--vote-neg-color);
}

.downvote2-verified {
    border-top: 4px solid var(--vote-neg-color);
    border-left: 4px solid var(--vote-neg-color);
}

.downvote1-codereview {
    border-right: 2px solid var(--vote-neg-color);
    border-bottom: 2px solid var(--vote-neg-color);
}

.downvote2-codereview {
    border-right: 4px solid var(--vote-neg-color);
    border-bottom: 4px solid var(--vote-neg-color);
}

.merge-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
}

.merge-possible {
    background-color: var(--vote-pos-bg);
}

.merge-maybe-possible {
    background-color: var(--vote-maybe-bg);
}

.merge-impossible {
    background-color: var(--vote-neg-bg);
}

.merge-neutral {
}

#theme-toggle {
    display: block;
    margin: 15px auto;
}

button {
    cursor: pointer;
    background-color: var(--box-color);
    border: 1px solid var(--highlight-color);
    color: var(--text-color);
    border-radius: 20px;
    padding: 15px;
}

button:hover {
    background-color: var(--highlight-color);
    border: 1px solid var(--box-color);
    color: var(--text-color);
}

