@import "tabulator-tables/src/scss/tabulator.scss";
@import "tom-select/dist/scss/tom-select";

/** DARK MODE **/
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --text-color: white;
        --highlight-color: orange;
        --box-color: #303030;
        --prio-1-color: blueviolet;
        --prio-2-color: red;
    }
}

/** LIGHT MODE **/
:root {
    --bg-color: white;
    --text-color: black;
    --highlight-color: orange;
    --box-color: lightgray;
    --prio-1-color: blueviolet;
    --prio-2-color: red;
}

/** OVERRIDES (COPY FROM ABOVE) **/
/** LIGHT MODE **/

[data-theme="dark"] {
    --bg-color: black;
    --text-color: white;
    --highlight-color: orange;
    --box-color: #303030;
    --prio-1-color: blueviolet;
    --prio-2-color: red;
}

[data-theme="light"] {
    --bg-color: white;
    --text-color: black;
    --highlight-color: orange;
    --box-color: lightgray;
    --prio-1-color: blueviolet;
    --prio-2-color: red;
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

li.issue {
    margin: 10px;

    .mainLine {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .title {
        }
        .author {
        }
        .extra {
            font-weight: normal;
        }
        .extra2 {
            font-weight: normal;
        }
        .extra3 {
            font-weight: normal;
        }
        .branch {
            font-weight: normal;
        }

        .age::before {
            content: "\01F4C9"; /* 📉 */
        }

        .age2::before {
            content: "\01F382"; /* 🎂 */
        }

        .age, .age2 {
            font-weight: normal;
            font-size: 0.8em;

            .hours::after {
                content: "	\01F550"; /* 🕐 */
                padding-left: 5px;
            }
            .days::after {
                content: "	\01F31E"; /* 🌞 */
                padding-left: 5px;
            }
            .months::after {
                content: "	\01F31C"; /* 🌜 */
                padding-left: 5px;
            }
            .years::after {
                content: "	\01F31A"; /* 🌚 */
                padding-left: 5px;
            }

            .months {
                color: var(--prio-1-color);
            }
            .years {
                color: var(--prio-2-color);
            }

        }
    }

    .gerrit_link {
    }

    .forge_link {
    }

    summary {
        background-color: var(--box-color);
        color: var(--text-color);
        border-radius: 20px;
        cursor: pointer;
        padding: 10px;
        font-weight: bold;
    }

    summary::marker {
        color: var(--highlight-color);
    }

    details[open] summary {
        border-radius: 20px 20px 0 0;
    }

    details {
        border-radius: 5px;
    }

    /* extra styles */
    article > *:first-child {
        margin: 0;
    }

    article > * + * {
        margin: 0.75em 0 0 0;
    }

    article {
        padding: 10px;
        margin: 0;
        background: var(--box-color);
        border-radius: 0 0px 20px 20px;
    }
}

#theme-toggle {
    display: block;
    margin: 15px auto;
}

button {
    cursor: pointer;
    background-color: var(--box-color);
    border: 1px solid var(--highlight-color);
    color: var(--text-color);
    border-radius: 20px;
    padding: 15px;
}

button:hover {
    background-color: var(--highlight-color);
    border: 1px solid var(--box-color);
    color: var(--text-color);
}

